@media (max-width:740px) {
    body {
        height: auto;
        margin-block: 20px;
    }
    main {
        grid-template-areas: "head" "section1 " "section2";
        width: 90%;
    }
    main section:first-child,
    main section:nth-child(2),
    main section:nth-child(3) {
        height: auto;
    }
    main section:nth-child(3) p {
        width: 100%;
    }
    main section:nth-child(3) {
        border-left: unset;
    }
    main section:nth-child(2) {
        border-right: unset;
    }
}